.button {
  background-color: #fff;
  border: none;
  box-shadow: none;
  align-self: flex-start;
}

.container {
  width: 1592px;
  margin: 0 auto;
  padding: 64px;
}

.gap {
  display: flex;
  flex-direction: column;
  gap: 53px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 68px;
}

.right {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.listingInfo {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.locationInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  vertical-align: middle;
  span {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 3.5px;
  }
}

.agentInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.agent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid #DBDBDB;
  border-radius: 8px;
  padding: 24px 20px;
}

.agentAbout {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
}

.agentName {
  display: flex;
  flex-direction: column;
  gap: 5px;
  h4{
    margin: 0;
  }
}

.agentContact {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.delete{
  .button {
    border: 1px solid #676E76;
    padding: 10px;
    font-family: "Firago", sans-serif;
    font-size: 12px;
  }
}

.font {
  font-family: "Firago", sans-serif;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 222px;
  padding: 60px 0;
  gap: 35px;
}
